.text-center {
    position: fixed;
    text-align: center!important;
    top: 50%;
    height: 160px;
    width: 100%;
    margin-top: -80px;
}

.background {
    color: white;
    background-image: url('./lucas_laura.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    height: 718px;
    width: 100%;
    position: fixed;
    top: 50%;
    margin-top: -359px;
}

body {
    background-color: #ccc;
}